@charset "UTF-8";
:root{
    --corfundo : #3B6EB6;
}

@font-face {
    font-family: 'BonaNovaSC';
    src: url("../font/Bona_Nova_SC/BonaNovaSC-Regular.ttf") ;
}
body{
    background-color: var(--corfundo);
}
div#main{
    align-items: center;
    text-align: center;
    background-color: var(--corfundo);
}

div#titulo{
    font-size: 2.5em;
    height: 80px;
    width: 100%;
    font-family: 'BonaNovaSC';
    color: white;
    background: linear-gradient(to bottom, #404E61, #2371E0,var(--corfundo)) ;
    text-align: center;
}

div#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #45628B,var(--corfundo)) ; ;
}

.BotaoMenu{
    display:inline-block;
    align-items: center;
    width: 160px;
    height: 25px;
    color: white;
    background-color: #292D33;
    border-radius: 30px;
    text-align: center;
    padding: 1px;
    margin: 2px;
}

.BotaoMenu:hover{
    background-color: #5d656f;
    transition: all .3s;
}

img#mascote{
    height: 300px;
    margin: 50px;
}

div#painel{
    display: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 350px;
    border-radius: 5px;
    margin: 10px;
    padding: 6px;
    
}

.BotaoOp{
    display:inline-block;
    align-items: center;
    width: 45px;
    height: 18px;
    color: white;
    background-color: #2371E0;
    border-radius: 30px;
    text-align: center;
    padding: 3px;
    margin: 3px;
}
.BotaoOp:hover{
    background-color: #92b6e9;
}