@charset "UTF-8";
:root{
    --cor01: #3B6EB6;
    --cor02: #2371E0;
    --cor03: #45628B;
    --cor04: #404E61;
    --cor05: #2D3136;
    --cor06: #292D33;

    --cor02-light: #92b6e9;

    --corBotaoapertado: #5d656f;
    --sombra: rgba(0, 0, 0, 0.273);
    --fontTitulo: 'BonaNovaSC';
    --fontGerador: 'Lilex';

    --nivel1: #00e5ff;
    --nivel2: #00ff04;
    --nivel3: #fff200;
    --nivel4: #ffa600;
    --nivel5: #ff6600;
    --nivel6: #FF0000;
}

@font-face {
    font-family: 'BonaNovaSC';
    src: url("../font/Bona_Nova_SC/BonaNovaSC-Regular.ttf") ;
}

@font-face{
    font-family: 'Lilex';
    src: url("../font/Lilex/Lilex-Medium.ttf") ;
}
*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: var(--cor01);

}

i#burger{
    display: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, var(--cor03),var(--cor01)) ; ;
}



header{
    font-size: 2.5em;
    height: 80px;
    width: 100%;
    font-family: var(--fontTitulo), sans-serif;
    color: white;
    text-shadow: 3px 2px 3px var(--sombra);
    background: linear-gradient(to bottom, var(--cor04), var(--cor02),var(--cor01)) ;
    text-align: center;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    background-color: var(--cor01);
    margin-bottom: 15px;
    text-shadow: 3px 2px 3px var(--sombra);
}




.BotaoMenu{
    display:inline-block;
    align-items: center;
    width: 160px;
    height: 25px;
    color: white;
    background-color: var(--cor06);
    border-radius: 30px;
    box-shadow: 2px 2px 2px var(--sombra);
    text-align: center;
    padding: 1px;
    margin: 2px;
}

.BotaoMenu:hover{
    background-color:var(--corBotaoapertado);
    transition: all .3s;
}


img#mascote{
    height: 300px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 15px;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.362));
}

div#painel{
    display: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 350px;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 60px;
    border-radius: 8px;
    padding: 3px;
    padding-top: 20px;
    
}

div#painel >p, .formImc>p{
    padding-top: 15px;
}

div#painel.painelCotacao{
    height: 340px;
    width: 420px;
    
}

div#painel.painelCotacao > div#resultado {
    font-size: 1.5em;
    line-height: 1.6;
    text-align: left;
    padding-left: 60px;
}


div#painel.painelGerador{
    
    height: 340px;
    width: 450px;
    overflow-wrap: break-word;
    
}

div#painel.painelGerador > div#resultado {
    font-family: var(--fontGerador) , Courier, monospace;
    text-shadow: 0px 0px 0px var(--sombra);
    font-size: 1.5em;
    line-height: 1.6;
    overflow-wrap: break-word;
}

div#resultado{
    font-size: 2.0em;
    margin-top: 15px ;
    color:var(--cor05)
}

.BotaoOp{
    display:inline-block;
    align-items: center;
    width: 45px;
    height: 18px;
    color: white;
    background-color: var(--cor02);
    border-radius: 30px;
    text-align: center;
    padding: 3px;
    margin: 3px;
    margin-top: 10px;
}
.BotaoOp:hover{
    background-color: var(--cor02-light);
}

.Bcpf{
    width: 65px;
}

.b2{
    width: 100px;

}

footer{
    color: white;
    text-align: right;
    font-size: 0.9em;
    padding-top: 50px;
    margin-right: 24px;
}
footer > a{
    background-color: var(--cor04);
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    transition-duration: 0.1s;
}
footer>a:hover{
    color: black;
    background-color: var(--cor01);
}

span{
    font-size: 0.5em;
    color: var(--cor02);
}

#mensagemImc{
    color: white;
    margin: auto;
    padding: 10px;
    margin-top: 25px;
    height: 40px;
    width: 200px;
    font-size: 1.3em;
}

#mensagemImc.nivel1{
    background-color: var(--nivel1)
    
}
#mensagemImc.nivel2{
    background-color: var(--nivel2)
    
}
#mensagemImc.nivel3{
    background-color: var(--nivel3)
    
}
#mensagemImc.nivel4{
    background-color: var(--nivel4)
    
}
#mensagemImc.nivel5{
    background-color: var(--nivel5)
    
}
#mensagemImc.nivel6{
    background-color: var(--nivel6)
    
}

p.cpf{
    padding: 30px 0px;
    margin: 20px 0px;
    background-color: rgb(10, 10, 10);
    color: white;

}

p.valido{
    background-color: var(--nivel2);
}

p.invalido{
    background-color: var(--nivel6);
}